<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Quote Maker</h1>

    <form action="/add_quote" method="post">
        Name<input type="text" name="name"><br>
        Quote<input type="text" name="quote"><br>
        <input type="submit" value="Submit">

    </form>
    <a href="/quotes" type="button">Skip to quotes!</a>

</body>
</html>